{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h1> Change Password</h1>
    <form action="/changepw" method="post">
        <div><input type="password" name="originalpw" placeholder="Old Password"></p></div>
        <div><input type="password" name="newpw" placeholder="New Password"></p></div>
        <div><input type="password" name="newpwagain" placeholder="New Password again"></p></div>
        <div><button class="btn btn-primary" type="submit">Submit</button></div>
    </form>
{% endblock %}
